# Metadata about the project (config, environment)
.devcontainer
.github
.vscode

# Dependency directories and test files
node_modules
coverage
__tests__
media
jest.config.js

# Examples and editor/environment configuration
examples
.nvmrc
.env
.eslintrc.json
.gitignore
.npmignore
.nvmrc
LICENSE
pnpm-lock.yaml